#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display:flex;
  flex-direction: column;
  gap: 1em;
  width: calc((6em * 4) + (1em * 3)); 
  height: calc((6em * 4) + (1em * 3)); 
}

.tile-row {
  display:inline-flex;
  flex-direction: row;
  gap:1em;
}

.box {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: cadetblue;
  border: solid;
  border-radius: 1em;
  height: 6em;
  width:6em;
}

.box.highlighted {
  background-color: purple; 
}